body {
    background-color: white;
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: -0.01em;
}


//************ HEADER *************


.header {
    padding: 18px 0;
    border-bottom: 1px solid #d2e1e6;
}

.header__logo {
    text-align: left;
    display: block;
    vertical-align: middle;
    
    img {
        height: 38px;
    }
}

.header__user {
    
    padding-right: 0px;
    padding-top: 10px;
    
    p {
        padding-left: 20px;
        float: right;
        
        &::before {
            content: url(../img/airplane_circle_desk.png);
            right: 108px;
            margin-top: -4px;
            position: absolute;
        }
        
        &::after {
            content: url(../img/arrow_down_desk.png);
            margin-left: 10px;
        }
    }
    
}


//****************** NAV *******************


nav {
    vertical-align: middle;
    text-align: center;
    margin-top: 35px;
    border: 1px;
    border-color: #d2e1e6;
    border-style: solid;
    color: #adb9c5;
    border-radius: 2px;
    font-weight: 600;
    font-size: 12px;
}

.steps {
    
    div {
        position: relative;
        padding-top: 18px;
        padding-bottom: 18px;
        
        &::before {
            border: 2px solid #adb9c5;
            border-radius: 100%;
            width: 22px;
            height: 22px;
            text-align: center;
            margin-right: 10px;
            vertical-align: middle;
            content: attr(data-number);
            display: inline-block;
            padding: 3px;
        }
        
        &.checked:before {
            content: url(../img/check.png);
        }
      
        &:not(:last-child)::after {
            content: url(../img/nav_arrow.png);
            position: absolute;
            top: 0;
            right: -6px;
        }
    }
}


//****************** MAIN *******************


.main__confirm {
    height: 45px;
    background-color: #f2faf9;
    margin-top: 40px;
    padding: 18px 10px 18px 10px;
    text-align: center;
    color: #21ad91;
    font-weight: 600;
    font-size: 14px;
    border-radius: 2px;
    font-size: 12px;
}

.main__content {
    text-align: center;
    
    a, a:hover {
    color: #21ad91;
    margin-top: 8px;
    display: block;
    margin-bottom: 75px;
    text-decoration: underline;
    font-weight: 600;
}
}

h1 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 32px;
    color: #536273;
}

.descript {
    color: #536273;
    font-size: 15px;
    line-height: 2em;
    font-weight: 600;
}


//******** FORM *********


.formframe {
    max-width: 100%;
/*    vertical-align: middle;*/
    margin-top: 35px;
    margin-bottom: 80px;
    border: 1px;
    border-color: #d2e1e6;
    border-style: solid;
    color: #d2e1e6;
    border-radius: 2px;
    text-align: left;
    padding: 65px 85px 20px 85px;
}

div.radio {
    background-color: red;
}

.main__form .form-control {
    border-radius: 0px;
    background-color: #f9fcff;
    height: 50px;
    font-size: 12px;
    }

.main__form select {
    background-color: white !important;
}

.form {
    
    &__padd-bot1 {
        padding-bottom: 32px;
    }
    
    &__padd-bot2 {
        padding-bottom: 20px;
    }
    
    &__padd-bot3 {
        padding-bottom: 60px;

    }
    
    &__textarea {
        height: 120px !important;
    }
    
    &__info {
        margin-top: 16px;   
        border: 2px solid #adb9c5;
        border-radius: 100%;
        width: 18px;
        height: 18px;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
        display: inline-block;
        color: #adb9c5;
        font-size: 12px;
        font-family: serif;
        font-style: italic;
    }
}

.btn-secondary {
    color: white;
    font-weight: 600;
    font-size: 13px;    
    width: 135px;
    height: 50px;
    float: right;
    margin-bottom: 40px;
    background-color: #b6e2d9;
    border-radius: 2px;
    }

form h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 35px;
    margin-top: 30px;
    color: #536273;
    
    &::before {
        border: 2px solid #adb9c5;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        text-align: center;
        margin-right: 10px;
        vertical-align: middle;
        content: attr(data-number);
        display: inline-block;
        color: #adb9c5;
        padding: 2px 3px;
        font-size: 15px;
        }
}   


//****************** FOOTER  *******************


.footer {
    border-top: 1px solid #d2e1e6;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #536273;
    
    a {
        text-decoration: none;
        padding-right: 10px;
        color: #536273;
    }
    
    &__copyright {
        vertical-align: middle !important;
        text-align: right;
        height: 32px;
        display: inline-block;
        padding-top: 14px;
    }
}

footer .form-control {
    width: 90px;
    font-size: 12px;
    display: inline-block;
}

footer form {
    display: inline-block;
    padding-right: 30px;
    margin-bottom: -16px;
}